#inicio .ui-content, 
#registro .ui-content, 
#main .ui-content,
#reservar .ui-content,
#historial .ui-content {
	text-align: center;
}

#inicio img {
	margin-bottom: 20px;
}

#inicio button, 
#registro button {
	margin: 20px 0;
}

#main img {
	margin-top: 70px;
}

.menu-btn {
	padding: 15px;
}

.tablaHistorial {
	width: 100%;
	border-collapse: collapse;
}

.tablaHistorial th,
.tablaHistorial td {
	border: 1px solid black;
	padding: 5px;
}

.tablaHistorial tbody tr:nth-child(2n+1) {
	background-color: #CCC;
}

.tablaHistorial th {
	background-color: blue;
	color: dark gray;
}

#privacidad h2 {
	text-align: center;
}